/* Import font from Google Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
 }

:root {
    --red: #e50914;
    --dark-red: #8e0e00;
    --primary-dark: #1f1c18;
    --white: #FFFFFF;
    --light-grey: #F7F7F7;
    --dark-grey: #757575;
    --grey: #e6e6e6;
} 


header {
    background: linear-gradient(90deg, var(--dark-red), var(--primary-dark));
    color: var(--white);
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}



.toggle-menu {
    display: none;
    height: 30px;
    width: 30px;
    margin-left: 22px;
    margin-right: 22px;
    color: var(--white);
    cursor: pointer;
    background-color: #1f1c18;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px 4px 3px 4px;
}

.burger-line {
    height: 3px;
    margin-bottom: 3px;
    background-color: var(--white);
    transition: all 0.4s ease;

}

.toggle-menu.active .burger-line:nth-child(1) {
    transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle-menu.active .burger-line:last-child {
    transform: rotate(45deg) translate(-4px, -5px);
}

.toggle-menu.active .burger-line:nth-child(2) {
    opacity: 0;
}


.side-bar {
    width: 300px;
    background-color: var(--light-grey);
    height: 100%;
    position: fixed;
    overflow: auto;
    padding: 50px 20px;
    transition: all 0.4s ease;
}

.side-bar.show-side-bar {
    transform: translateX(0px);
}

.tasks-by-date {
    margin-bottom: 4rem;
}

.tasks-by-date li, .projects-item li{
    list-style: none;
    background-color: var(--white);
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tasks-by-date li:hover, .projects-item li:hover {
    border: 1px solid var(--dark-red);
}

.projects-title > p {
    font-size: 1.5rem;
    font-weight: 500;
}

.projects-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-grey);
    padding: 10px 20px;
    margin-bottom: 1.5rem;
}

.projects-item li {
    display: flex;
    justify-content: space-between;
}
.projects-item li .icons {
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 1000px) {
    .toggle-menu {
        display: block;
    }

    .side-bar {
        transform: translateX(-300px);
    }

}

.project-form {
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 350px;
}

.show-project-form {
    display: block;
    transition: 0.3s;
}

.project-form h2 {
    background: linear-gradient(90deg, var(--dark-red), var(--primary-dark));
    color: var(--white);
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

form {
    padding: 20px;
}
form ul > li {
    margin-bottom: 0.8rem;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.project-form label {
    font-family: inherit;
    font-size: 1rem;
    color: var(--dark-grey);
}

form input, form select {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid var(--grey);
    background-color: var(--white);
}

input:focus, select:focus {
    border-color: var(--dark-red);
    transition: 0.3s;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
button,
textarea,
select {
  outline: none;
}

form button {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;

}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

form .cancel {
    background-color: var(--white);
    color: var(--dark-grey);
    border: 1px solid var(--grey);
    transition: 0.3s;
}

form .cancel:hover {
    border-color: var(--dark-red);
}

form .confirm {
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--grey);
}

form .confirm:hover {
    background-color: var(--dark-red);
}

.projects-icon {
    cursor: pointer;
}

.main-projects {
    display: flex;
    justify-content: center;
    padding: 20px;
    outline: 2px solid #008e2f;
}

.main {
    margin-left: 0;
}

.tasks-div {
    outline: 2px solid blue;
    max-width: 1000px;
    padding: 40px;
    margin: 0 auto;
}

.tasks-title {
    font-size: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid var(--dark-grey);
    color: var(--dark-grey);
}

.contract-main {
    margin-left: 300px;
}

.task-div {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--light-grey);
}

.task-actions {
    display: flex;
    gap: 0.5rem;
}

.projects-item li.selected {
    background-color: var(--dark-red);
    color: var(--white);
}

.projects-item li.selected:hover {
    background-color: var(--red);
}