/* Import font from Google Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

:root {
    --dark-red: #8e0e00;
    --primary-dark: #1f1c18;
    --white: #FFFFFF;
    --light-grey: #F7F7F7;
    --dark-grey: #757575;
} 

header {
    background: linear-gradient(90deg, var(--dark-red), var(--primary-dark));
    color: var(--white);
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

nav {
    width: 300px;
    background-color: var(--light-grey);
    height: 100%;
    position: fixed;
    overflow: auto;
    padding: 50px 20px;
}

.tasks-by-date {
    margin-bottom: 4rem;
}

.tasks-by-date li, .projects-item li{
    list-style: none;
    background-color: var(--white);
    margin-bottom: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tasks-by-date li:hover, .projects-item li:hover {
    border: 1px solid var(--dark-red);
}

.projects-title > p {
    font-size: 1.5rem;
    font-weight: 500;
}

.projects-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-grey);
    padding: 10px 20px;
    margin-bottom: 1.5rem;
}